/*
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
LAYOUT
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
*/

body {
	margin: 0;
	padding: 0;
	background-color: #9d74b0;
	font-family: 'Permanent Marker', cursive;
	color: white;
}

header {
	background-color: #7a5c8d;
	padding: 0 10vh;
}

header h1 {
	font-family: 'Monoton', cursive;
	font-size: 10vw;
	color: #d6a7df;
	line-height: 2;
	text-align: center;
}

li {
	list-style-type: none;
	display: inline-block;
	padding: 0 4vw;
}

a {
	font-size: 2vw;
	text-decoration: none;
	color: #baabc9;
}

a:hover {
	text-decoration: none;
	color: white;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
HOME
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
*/

.intro {
	font-size: 2vw;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
REGISTRATION FORM
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
*/

h4 {
	font-size: 4vw;
	line-height: 4;
	text-align: center;
}

.user-form {
	color: white;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
UPLOAD FORM
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
*/

.upload-img {
	padding-bottom: 1vh;
}

.photo {
<<<<<<< HEAD
	margin: 10vh 5vw;
=======
	margin: 10vh 0;
	padding: 0;
>>>>>>> master
}



/*
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
PRACTICE
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++
*/

h6 {
	text-align: center;
	font-size: 2vw;
}

#practiceform-image1 {
	line-height: 2;
}

#delete {
	margin-top: 2vh;
}






.hide {
	visibility: hidden;
}



